<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация | Used Furniture</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<header class="auth-header">Авторизация</header>

<div class="auth-container">
    <div class="auth-body">
        <h2>Войдите в аккаунт</h2>

        <form th:action="@{/login}" method="post">
            <label>
                Имя пользователя
                <input
                        type="text"
                        name="username"
                        placeholder="Введите имя пользователя"
                        required
                />
            </label>

            <label>
                Пароль
                <input
                        type="password"
                        name="password"
                        placeholder="Введите пароль"
                        required
                />
            </label>

            <button type="submit" class="btn">Войти</button>
        </form>

        <p class="error-text" th:if="${error}" th:text="${error}"></p>

        <p class="hint">
            Нет аккаунта?
            <a th:href="@{/register}">Зарегистрироваться</a>
        </p>
    </div>
</div>
</body>
</html>
