<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<form method="post" th:action="@{/auth/register}">
    <input type="text" name="username" placeholder="Имя пользователя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Зарегистрироваться</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<p>Уже есть аккаунт? <a th:href="@{/auth/login}">Войти</a></p>
</body>
</html>
